# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Prisma / build dos workspaces
apps/backend/dist
apps/backend/src/infrastructure/prisma/output
packages/shared/dist

gha_deploy*